<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
<div class="container">
  <app-page-title title="Medals per country"></app-page-title>
  
    <div class="row d-flex">
      <div class="col" style="margin-right:2rem;">
        <h3>Number of JOs</h3><p><strong>{{ nbJo }}</strong></p>
      </div>
      <div class="col" style="margin-left:2rem;">
        <h3>Number of countries</h3><p><strong>{{ nbCountries }}</strong></p>
      </div>
    </div>
    <br />
  
    <div class="row d-flex">
        <div class="col-md-8 chart-column">
          <canvas id="myChart"></canvas>
        </div>
      </div>
  </div>
  